/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

$theme-required : #F15462;

$form-label		: #727272;


$light-bluegreen : #00e6e6;

$line-break     : rgb(0, 128, 128);

$breadcrumb-primary : #131313;